/* ==========================================================================
   Text utilities
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Utility namespace.
 */

$bits-utils-ns: 'bits-' !default; /* 1 */

/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 *
 * --------------
 * Example usage:
 *
 * <p class="u-textTruncate">                    ->
 *   Sed posuere consectetur est at lobortis.    ->    Sed posuere consectetu...
 * </p>                                          ->
 */

.#{$bits-utils-ns}u-textTruncate {
  max-width: 100%; /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important; /* 2 */
}

/**
 * Word breaking
 *
 * Break strings when their length exceeds the width of their container.
 *
 * --------------
 * Example usage:
 *
 * <a class="u-textBreak" href="...">         ->    https://github.com/bits-sass/
 *  https://github.com/bits-sass/utils-text   ->    utils-text
 * </a>                                       ->
 */

.#{$bits-utils-ns}u-textBreak {
  word-break: break-all !important;
  word-wrap: break-word !important;
}

/* -------------------------------------------------------------------------- */

/**
 * Horizontal text alignment
 */

.#{$bits-utils-ns}u-textLeft {
  text-align: left !important;
}

.#{$bits-utils-ns}u-textCenter {
  text-align: center !important;
}

.#{$bits-utils-ns}u-textRight {
  text-align: right !important;
}

/* -------------------------------------------------------------------------- */

/**
 * Color inheritance
 *
 * Inherit the ancestor's text color.
 */

.#{$bits-utils-ns}u-textInheritColor {
  color: inherit !important;
}

/**
 * Color inheritance
 *
 * Inherit the ancestor's text color for all states.
 */

.#{$bits-utils-ns}u-textInheritAllColor {
  &,
  &:hover,
  &:focus,
  &:active {
    color: inherit !important;
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Uppercase text
 *
 * Transform the text to upper case.
 */

.#{$bits-utils-ns}u-textUpperCase {
  text-transform: uppercase !important;
}

/**
 * Lowercase text
 *
 * Transform the text to lower case.
 */

.#{$bits-utils-ns}u-textLowerCase {
  text-transform: lowercase !important;
}
}