/* ==========================================================================
   Text utilities
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Utility namespace.
 */

$bits-utils-ns: 'bits-' !default; /* 1 */

/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 *
 * --------------
 * Example usage:
 *
 * <p>                                           ->
 *   Sed posuere consectetur est at lobortis.    ->    Sed posuere consectetu...
 * </p>                                          ->
 *
 *
 */

.#{$bits-utils-ns}u-textTruncate {
  max-width: 100%; /* 1 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; /* 2 */
}

/**
 * Word breaking
 *
 * Break strings when their length exceeds the width of their container.
 *
 * --------------
 * Example usage:
 *
 * <a class="u-textBreak" href="...">         ->    https://github.com/bits-scss/
 *  https://github.com/bits-scss/utils-text    ->    utils-text
 * </a>                                       ->
 */

.#{$bits-utils-ns}u-textBreak {
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

/* -------------------------------------------------------------------------- */

/**
 * Horizontal text alignment
 */

.#{$bits-utils-ns}u-textLeft {
  text-align: left;
}

.#{$bits-utils-ns}u-textCenter {
  text-align: center;
}

.#{$bits-utils-ns}u-textRight {
  text-align: right;
}